
--- stderr ---
test_changed_source_rejected_even_if_report_hash_is_updated (__main__.W18RequirementsBindingTests.test_changed_source_rejected_even_if_report_hash_is_updated) ... ok
test_crlf_normalization_cannot_hide_changed_execution_bytes (__main__.W18RequirementsBindingTests.test_crlf_normalization_cannot_hide_changed_execution_bytes) ... ok
test_incomplete_scenario_matrix_and_unsupported_waivers_rejected (__main__.W18RequirementsBindingTests.test_incomplete_scenario_matrix_and_unsupported_waivers_rejected) ... ok
test_mismatched_matrix_input_output_and_nested_installed_rejected (__main__.W18RequirementsBindingTests.test_mismatched_matrix_input_output_and_nested_installed_rejected) ... ok
test_missing_current_and_untracked_source_rejected (__main__.W18RequirementsBindingTests.test_missing_current_and_untracked_source_rejected) ... ok
test_missing_envelope_and_malformed_source_rejected (__main__.W18RequirementsBindingTests.test_missing_envelope_and_malformed_source_rejected) ... ok
test_no_dimension_installed_or_historical_promotion (__main__.W18RequirementsBindingTests.test_no_dimension_installed_or_historical_promotion) ... ok
test_nonexistent_or_noncommit_sha_rejected (__main__.W18RequirementsBindingTests.test_nonexistent_or_noncommit_sha_rejected) ... ok
test_opt_in_output_passes_real_register_validator (__main__.W18RequirementsBindingTests.test_opt_in_output_passes_real_register_validator) ... ok
test_ordinary_register_check_reaudits_shared_binding_once (__main__.W18RequirementsBindingTests.test_ordinary_register_check_reaudits_shared_binding_once) ... ok
test_ordinary_register_check_rejects_changed_transitive_source (__main__.W18RequirementsBindingTests.test_ordinary_register_check_rejects_changed_transitive_source) ... ok
test_ordinary_register_check_rejects_deleted_actual_output_artifact (__main__.W18RequirementsBindingTests.test_ordinary_register_check_rejects_deleted_actual_output_artifact) ... ok
test_partial_report_binds_only_explicit_scenarios (__main__.W18RequirementsBindingTests.test_partial_report_binds_only_explicit_scenarios) ... ok
test_reaudit_detects_changed_input_and_tampered_bound_report (__main__.W18RequirementsBindingTests.test_reaudit_detects_changed_input_and_tampered_bound_report) ... ok
test_standalone_cli_reaudits_bound_register_without_pythonpath (__main__.W18RequirementsBindingTests.test_standalone_cli_reaudits_bound_register_without_pythonpath) ... ok
test_unstable_failed_and_false_installed_reports_rejected (__main__.W18RequirementsBindingTests.test_unstable_failed_and_false_installed_reports_rejected) ... ok

----------------------------------------------------------------------
Ran 16 tests in 10.083s

OK
